'information_border_it':
  category: 'information'
  name: 'European border crossing into Italy'
  elements: [
    { type: 'square-rounded', color: 'blue' }
    { type: 'europe_stars', color: 'yellow' }
    { type: 'content-5', color: 'white', content: 'ITALIA' }
  ]

'cyclists-crossing-ahead':
  category: 'danger'
  name: 'cyclists crossing ahead'
  elements: [
    { type: 'tri-rounded', color: 'red' }
    { type: 'tri-angular', color: 'yellow', transform: '{inner_triangle}' }
    { type: 'bicycle', color: 'black', transform: 'scale(.65) translate(0,25%)' }
  ]

'children':
  category: 'danger'
  name: 'children'
  elements: [
    { type: 'tri-rounded', color: 'red' }
    { type: 'tri-angular', color: 'white', transform: '{inner_triangle}' }
    { type: 'children', color: 'black', transform: '{center2tri} scale(.75)'}
  ]

'level-crossing':
  category: 'danger'
  name: 'Level crossing'
  variation: 'other'
  elements: [
    { type: 'level-crossing', color: 'red' }
    { type: 'level-crossing', color: 'red', transform: 'scale(-1,1)' }
    { type: 'square-angular', color: 'white', transform: 'rotate(60deg) scale(.05,1)' }
    { type: 'square-angular', color: 'white', transform: 'rotate(-60deg) scale(.05,1)' }
  ]

'pedestrians-only':
  category: 'mandatory'
  name: 'pedestrians only'
  elements: [
    { type: 'circle-bg', color: 'blue' }
    { type: 'pedestrian', color: 'white', transform: '' }
  ]

'priority-road-end':
  category: 'priority'
  name: 'end of priority road'
  elements: [
    { type: 'square-rounded', color: 'black', transform: '{square_to_diamond}' }
    { type: 'square-rounded', color: 'white', transform: 'scale(.98) {square_to_diamond}' }
    { type: 'square-rounded', color: 'yellow', transform: 'scale(.6) {square_to_diamond}' }
    { type: 'square-angular', color: 'black', transform: '{square_to_diamond} scale(.2,1)' }
  ]

'railway-crossing-unsecured':
  category: 'danger'
  name: 'unsecured railway crossing'
  elements: [
    { type: 'tri-rounded', color: 'red' }
    { type: 'tri-angular', color: 'white', transform: '{inner_triangle}' }
    { type: 'railway-xing-unsecured', color: 'black', transform: 'translate(0,13%) scale(.4)' }
  ]

'turn-right-ahead':
  category: 'mandatory'
  name: 'turn right ahead'
  elements: [
    { type: 'circle-bg', color: 'blue' }
    { type: 'arrow-l', color: 'white', transform: 'scale(-1,1)' }
  ]
