information_border_lu_fr:
  category: 'information'
  name: 'European border crossing into Luxembourg'
  elements: [
    { type: 'square-rounded', color: 'blue' }
    { type: 'europe_stars', color: 'yellow' }
    { type: 'content-5', color: 'white', content: 'Luxembourg', transform: 'scale(.85)' }
  ]

