{
  information_pedestrian_crossing:
    category: 'other'
    name: 'pedestrian crossing'
    elements: [
      { type: 'square-bg', value: 'blue' }
      { type: 'tri-bg-in', value: 'white' }
      { type: 'pedestrian-crossing', value: 'black' }
    ]

  mandatory_keep_right:
    category: 'mandatory'
    name: 'keep right'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'arrow-45-r', value: 'white' }
    ]

  mandatory_keep_left:
    category: 'mandatory'
    name: 'keep left'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'arrow-45-l', value: 'white' }
    ]

  other_give_way:
    category: 'other'
    name: 'give way'
    elements: [
      { type: 'tri-r-bg', value: 'white' }
      { type: 'tri-r-o', value: 'red' }
    ]

  information_parking:
    category: 'information'
    name: 'parking'
    elements: [
      { type: 'square-bg', value: 'blue' }
      { type: 'parking', value: 'white' }
    ]

  other_no_entry:
    category: 'other'
    name: 'no entry'
    elements: [
      { type: 'circle-bg', value: 'red' }
      { type: 'circle-bar', value: 'white' }
    ]

  prohibitory_no_parking:
    category: 'prohibitory'
    name: 'no_parking'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'circle-o', value: 'red' }
      { type: 'circle-line-l', value: 'red' }
    ]

  other_priority_road:
    category: 'other'
    name: 'priority_road'
    elements: [
      { type: 'diamond-bg', value: 'yellow' }
      { type: 'diamond-o', value: 'white' }
    ]

  prohibitory_speed_limit:
    category: 'prohibitory'
    name: 'speed limit'
    elements: [
      { type: 'circle-bg', value: 'white' }
      { type: 'circle-o', value: 'red' }
      { type: 'content', value: 'undefined' }
    ]

  mandatory_pedestrian_cycle_dual_track:
    category: 'mandatory'
    name: 'pedestrian cycle dual track'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'shared-path-lines', value: 'white' }
    ]

  danger_intersection:
    category: 'danger'
    name: 'intersection'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'right-of-way fit', value: 'black' }
    ]

  danger_road_works:
    category: 'danger'
    name: 'road works'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'roadworks fit', value: 'black' }
    ]

  danger_construction:
      category: 'danger'
      name: 'construction'
      elements: [
        { type: 'tri-bg', value: 'white' }
        { type: 'tri-o', value: 'red' }
        { type: 'roadworks fit', value: 'black' }
      ]

  mandatory_roundabout:
    category: 'mandatory'
    name: 'roundabout'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'roundabout', value: 'white' }
    ]

  prohibitory_no_traffic_both_ways:
    category: 'prohibitory'
    name: 'no traffic both ways'
    elements: [
      { type: 'circle-bg', value: 'white' }
      { type: 'circle-o', value: 'red' }
    ]

  mandatory_pedestrian_cycle_track:
    category: 'mandatory'
    name: 'pedestrian cycle track'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'shared-path', value: 'white' }
    ]

  danger_traffic_signal:
    category: 'danger'
    name: 'traffic signal'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'traffic-l-bg', value: 'black' }
      { type: 'traffic-l-r', value: 'red' }
      { type: 'traffic-l-y', value: 'yellow' }
      { type: 'traffic-l-g', value: 'green' }
    ]

  mandatory_cycle_track:
    category: 'mandatory'
    name: 'cycle track'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'bicycle', value: 'white' }
    ]

  danger_uneven_road:
    category: 'danger'
    name: 'uneven road'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'bump fit', value: 'black' }
    ]

  danger_danger:
    category: 'danger'
    name: 'danger'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'exclamation fit', value: 'black' }
    ]

  prohibitory_no_parking_or_stopping:
    category: 'prohibitory'
    name: 'no parking or stopping'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'circle-o', value: 'red' }
      { type: 'circle-x', value: 'red' }
    ]

  prohibitory_on_overtaking:
    category: 'prohibitory'
    name: 'no overtaking'
    elements: [
      { type: 'circle-bg', value: 'white' }
      { type: 'circle-o', value: 'red' }
      { type: 'car-left', value: 'red' }
      { type: 'car-right', value: 'black' }
    ]

  prohibitory_on_overtaking_trucks:
      category: 'prohibitory'
      name: 'no overtaking trucks'
      elements: [
        { type: 'circle-bg', value: 'white' }
        { type: 'circle-o', value: 'red' }
        { type: 'lorry-left', value: 'red' }
        { type: 'car-right', value: 'black' }
      ]

  danger_priority_next_intersection:
    category: 'danger'
    name: 'priority next intersection'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'right-of-way-l fit', value: 'black' }
      ]

  mandatory_go_left_or_right:
    category: 'mandatory'
    name: 'go left or right'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'highway-both', value: 'white' }
    ]

  prohibitory_no_u_turn:
    category: 'prohibitory'
    name: 'no u turn'
    elements: [
      { type: 'circle-bg', value: 'white' }
      { type: 'circle-o', value: 'red' }
      { type: 'turnaround', value: 'black' }
      { type: 'circle-line-l', value: 'red' }
    ]

  mandatory_go_straight:
    category: 'mandatory'
    name: 'go straight'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'arrow-straight', value: 'white' }
    ]

  mandatory_go_left:
    category: 'mandatory'
    name: 'go left'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'arrow-l', value: 'white' }
    ]

  mandatory_go_right:
    category: 'mandatory'
    name: 'go right'
    elements: [
      { type: 'circle-bg', value: 'blue' }
      { type: 'arrow-r', value: 'white' }
    ]

  mandatory_go_right_or_straight:
      category: 'mandatory'
      name: 'go right or straight'
      elements: [
        { type: 'circle-bg', value: 'blue' }
        { type: 'arrow-s-r', value: 'white' }
      ]

  mandatory_go_left_or_straight:
        category: 'mandatory'
        name: 'go left or straight'
        elements: [
          { type: 'circle-bg', value: 'blue' }
          { type: 'arrow-s-l', value: 'white' }
        ]

  priority_stop:
    category: 'priority'
    name: 'stop'
    elements: [
      { type: 'octagon', value: 'red' }
      { type: 'stop', value: 'white' }
    ]

  prohibitory_noturn_right:
    category: 'prohibitory'
    name: 'no turn right'
    elements: [
      { type: 'circle-bg', value: 'white' }
      { type: 'circle-o', value: 'red' }
      { type: 'turn-r', value: 'black' }
      { type: 'circle-line-l', value: 'red' }
    ]

  prohibitory_noturn_left:
    category: 'prohibitory'
    name: 'no turn left'
    elements: [
      { type: 'circle-bg', value: 'white' }
      { type: 'circle-o', value: 'red' }
      { type: 'turn-l', value: 'black' }
      { type: 'circle-line-l', value: 'red' }
    ]

  danger_bend_first_right:
    category: 'danger'
    name: 'bend first right'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'd-curve-r fit', value: 'black' }
    ]

  danger_bend_first_left:
    category: 'danger'
    name: 'bend first left'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'd-curve-l fit', value: 'black' }
    ]


  danger_bend_right:
      category: 'danger'
      name: 'bend first right'
      elements: [
        { type: 'tri-bg', value: 'white' }
        { type: 'tri-o', value: 'red' }
        { type: 'd-curve-r fit', value: 'black' }
      ]

    danger_bend_left:
      category: 'danger'
      name: 'bend first left'
      elements: [
        { type: 'tri-bg', value: 'white' }
        { type: 'tri-o', value: 'red' }
        { type: 'd-curve-l fit', value: 'black' }
      ]

  information_disable_persons:
    category: 'information'
    name: 'disable persons'
    elements: [
      { type: 'square-bg', value: 'blue' }
      { type: 'disabled-p', value: 'white' }
    ]

  mandatory_footpath:
    category: 'mandatory'
    name: 'footpath'
    elements: [
      { type: 'square-bg', value: 'blue' }
      { type: 'footpath', value: 'white' }
    ]

  prohibitory_vehicle_height_limit:
    category: 'prohibitory'
    name: 'vehicle_height_limit'
    elements: [
      { type: 'circle-bg', value: 'white' }
      { type: 'circle-o', value: 'red' }
      { type: 'height', value: 'black' }
    ]

  prohibitory_vehicle_width_limit:
    category: 'prohibitory'
    name: 'vehicle_width_limit'
    elements: [
      { type: 'circle-bg', value: 'white' }
      { type: 'circle-o', value: 'red' }
      { type: 'width', value: 'black' }
    ]

  danger_bend_first_right:
    category: 'danger'
    name: 'bend first right'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'turn-l fit', value: 'black' }
    ]

    danger_bend_first_left:
      category: 'danger'
      name: 'bend first left'
      elements: [
        { type: 'tri-bg', value: 'white' }
        { type: 'tri-o', value: 'red' }
        { type: 'turn-l fit', value: 'black' }
      ]

  prohibitory_no_vehicle_with_dangerous_goods:
    category: 'prohibitory'
    name: 'no vehicle with dangerous goods'
    elements: [
      { type: 'circle-bg', value: 'white' }
      { type: 'circle-o', value: 'red' }
      { type: 'lorry', value: 'black' }
      { type: 'circle-line-l', value: 'red' }
    ]

  danger_road_narrows:
    category: 'danger'
    name: 'road narrows'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'narrow-road-both fit', value: 'black' }
    ]

  danger_road_narrows_left:
      category: 'danger'
      name: 'road narrows left'
      elements: [
        { type: 'tri-bg', value: 'white' }
        { type: 'tri-o', value: 'red' }
        { type: 'narrow-road-l fit', value: 'black' }
      ]

  danger_road_narrows_right:
        category: 'danger'
        name: 'road narrows right'
        elements: [
          { type: 'tri-bg', value: 'white' }
          { type: 'tri-o', value: 'red' }
          { type: 'narrow-road-r fit', value: 'black' }
        ]

  danger_cycle_crossing:
    category: 'danger'
    name: 'cycle crossing'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'bicycle fit', value: 'black'}
    ]

  danger_school_crossing:
    category: 'danger'
    name: 'school crossing'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'children fit', value: 'black'}
    ]

  danger_slippery_road:
    category: 'danger'
    name: 'slippery road'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'slippery-road fit', value: 'black'}
    ]

  danger_pedestrian_crossing:
    category: 'danger'
    name: 'pedestrian crossing'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'pedestrian fit', value: 'black' }
    ]

  danger_quayside_or_ferry_berth:
    category: 'danger'
    name: 'quayside or ferry berth'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'cliff fit', value: 'black' }
    ]


  prohibitory_no_motor_vehicles:
    category: 'prohibitory'
    name: 'no motor vehicles'
    elements: [
      { type: 'tri-bg', value: 'white' }
      { type: 'tri-o', value: 'red' }
      { type: 'motor-vehicles fit', value: 'black' }
    ]

  prohibitory_no_motorcycles:
      category: 'prohibitory'
      name: 'no motor vehicles'
      elements: [
        { type: 'tri-bg', value: 'white' }
        { type: 'tri-o', value: 'red' }
        { type: 'motor-vehicles fit', value: 'black' }
      ]

  prohibitory_no_trucks:
    category: 'prohibitory'
    name: 'no trucks'
    elements: [
      { type: 'circle-bg', value: 'white' }
      { type: 'circle-o', value: 'red' }
      { type: 'truck fit', value: 'black' }
      { type: 'circle-line-l', value: 'red' }
    ]
}
