regulatory_no_entry:
  category: 'regulatory'
  name: 'no entry'
  elements: [
    { type: 'circle-bg', value: 'red' }
    { type: 'circle-bar', value: 'white' }
  ]

regulatory_stop:
  category: 'regulatory'
  name: 'stop'
  elements: [
    { type: 'octagon', value: 'red' }
    { type: 'stop', value: 'white' }
  ]

warning_merge:
  category: 'warning'
  name: 'merge'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'merge', value: 'black' }
  ]

warning_pedestrian_crossing:
  category: 'warning'
  name: 'pedestrian crossing'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'pedestrian', value: 'black' }
  ]

warning_traffic_light:
  category: 'warning'
  name: 'traffic light'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'traffic-l-bg', value: 'black' }
    { type: 'traffic-l-middle', value: 'green', transform: 'translate(0,16%)' }
    { type: 'traffic-l-middle', value: 'yellow' }
    { type: 'traffic-l-middle', value: 'red', transform: 'translate(0,-16%)' }
  ]

regulatory_no_parking:
  category: 'regulatory'
  name: 'no parking'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'parking', value: 'black', transform: '{fit_border_circle}' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

warning_road_narrows_right:
  category: 'warning'
  name: 'road narrows right'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'narrow-road-l', value: 'black', transform: '{fit_diamond} scale(-1,1)' }
  ]

warning_road_narrows_left:
  category: 'warning'
  name: 'road narrows left'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'narrow-road-l', value: 'black', transform: '{fit_diamond}' }
  ]

warning_road_narrows_both:
  category: 'warning'
  name: 'road narrows both'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'narrow-road-both', value: 'black', transform: '{fit_diamond}' }
  ]

regulatory_no_bicycles:
  category: 'regulatory'
  name: 'no bicycles'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'bicycle', value: 'black', transform: '{fit_border_circle}' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

regulatory_no_left_turn:
  category: 'regulatory'
  name: 'no left turn'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'turn-90-l', value: 'black', transform: '{fit_border_circle}' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

regulatory_no_turn_right:
  category: 'regulatory'
  name: 'no right turn'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'turn-90-l', value: 'black', transform: '{fit_border_circle} scale(-1,1)' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

regulatory_no_u_turn:
  category: 'regulatory'
  name: 'no u turn'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'u-turn', value: 'black', transform: '{fit_border_circle}' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

warning_added_lanes:
  category: 'warning'
  name: 'added lanes'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'added-lanes', value: 'black' }
  ]

warning_cross_roads:
  category: 'warning'
  name: 'cross roads'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'cross-roads', value: 'black' }
  ]

warning_side_road_perpendicular_right:
  category: 'warning'
  name: 'side road perpendicular right'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'side-road-p-r', value: 'black' }
  ]

warning_side_road_perpendicular_left:
  category: 'warning'
  name: 'side road perpendicular left'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'side-road-p-l', value: 'black' }
  ]

regulatory_no_trucks:
  category: 'regulatory'
  name: 'no trucks'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'truck', value: 'black', transform: '{fit_border_circle}' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

warning_turn_right:
  category: 'warning'
  name: 'turn right'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'turn-90-l', value: 'black', transform: 'scale(-1,1)' }
  ]

warning_turn_left:
  category: 'warning'
  name: 'turn left'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'turn-90-l', value: 'black' }
  ]

warning_fire_station:
  category: 'warning'
  name: 'fire station'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'fire-station', value: 'black' }
  ]

warning_bicycles:
  category: 'warning'
  name: 'bicycles'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'bicycle', value: 'black', transform: '{fit_diamond}' }
  ]

warning_dead_end:
  category: 'warning'
  name: 'dead end'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'dead-end', value: 'black' }
  ]

warning_light_rail_crossing:
  category: 'warning'
  name: 'light rail crossing'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'light-rail', value: 'black' }
  ]

warning_horizontal_alignment_left:
  category: 'warning'
  name: 'horizontal alignment left'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'h-align-l', value: 'black' }
  ]

warning_horizontal_alignment_right:
  category: 'warning'
  name: 'horizontal alignment right'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'h-align-l', value: 'black', transform: 'scale(-1,1)' }
  ]

warning_highway_divided:
  category: 'warning'
  name: 'highway divided'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'highway-divided', value: 'black' }
  ]

warning_steep_hill:
  category: 'warning'
  name: 'steep hill'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'steep-hill', value: 'black' }
  ]

warning_low_clearance:
  category: 'warning'
  name: 'low clearance'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'low-clearance', value: 'black' }
  ]

warning_offset_roads:
  category: 'warning'
  name: 'offset roads'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'offset-roads', value: 'black' }
  ]

warning_slippery:
  category: 'warning'
  name: 'slippery'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'slippery', value: 'black' }
  ]

regulatory_no_left_or_u_turn:
  category: 'regulatory'
  name: 'no left or u turn'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'no-l-or-u-turn', value: 'black' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

warning_winding_road_left:
  category: 'warning'
  name: 'winding road'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'winding-road-left', value: 'black' }
  ]

warning_winding_road_right:
  category: 'warning'
  name: 'winding road'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'winding-road-left', value: 'black', transform: 'scale(-1,1)' }
  ]

warning_metric_clearance:
  category: 'warning'
  name: 'metric clearance'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'metric-clearance', value: 'black' }
  ]

warning_intersection_circular:
  category: 'warning'
  name: 'intersection circular'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'roundabout', value: 'black' }
  ]

warning_turn_reverse_right:
  category: 'warning'
  name: 'turn reverse right'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'turn-reverse-left', value: 'black', transform: 'scale(-1,1)' }
  ]

warning_turn_reverse_left:
  category: 'warning'
  name: 'turn reverse left'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'turn-reverse-left', value: 'black' }
  ]

warning_side_road_acute_angle_right:
  category: 'warning'
  name: 'side road acute angle right'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'side-road-a-a-r', value: 'black' }
  ]

warning_side_road_acute_angle_left:
  category: 'warning'
  name: 'side road acute angle left'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'side-road-a-a-l', value: 'black' }
  ]

warning_t_roads:
  category: 'warning'
  name: 't roads'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 't-roads', value: 'black' }
  ]

regulatory_no_hitch_hiking:
  category: 'regulatory'
  name: 'no hitch hiking'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'hitch-hiking', value: 'black' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

warning_pass_left_or_right:
  category: 'warning'
  name: 'pass left or right'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'pass-l-r', value: 'black' }
  ]

warning_share_roads:
  category: 'warning'
  name: 'share roads'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'share-roads', value: 'black' }
  ]

warning_bickcle_slippery:
  category: 'warning'
  name: 'bicycle slippery'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'bicycle-slippery', value: 'black' }
  ]

regulatory_no_pedestrian_crossing:
  category: 'regulatory'
  name: 'no pedestrian crossing'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'pedestrian', value: 'black' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

warning_workers_in_road_ahead:
  category: 'warning'
  name: 'workers in road ahead'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'roadworks', value: 'black' }
  ]

warning_play_ground:
  category: 'warning'
  name: 'play ground'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'play-ground', value: 'black' }
  ]

warning_falling_rocks:
  category: 'warning'
  name: 'falling rocks'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'falling-rocks', value: 'black' }
  ]

warning_hairpin_curve:
  category: 'warning'
  name: 'hairpin curve'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'hairpin-curve', value: 'black' }
  ]

warning_end:
  category: 'warning'
  name: 'end'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'end', value: 'black' }
  ]

warning_loop_270_degree:
  category: 'warning'
  name: 'loop 270 degree'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'loop-270', value: 'black' }
  ]

warning_y_roads:
  category: 'warning'
  name: 'y roads'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'y-roads', value: 'black' }
  ]

regulatory_no_straight_through:
  category: 'regulatory'
  name: 'no straight through'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'US-arrow-up', value: 'black' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

warning_added_lane_from_entering_roadway:
  category: 'warning'
  name: 'added lane from entering roadway'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'added-lane-entering-roadway', value: 'black' }
  ]

warning_flaggers_in_road_ahead:
  category: 'warning'
  name: 'flaggers in road ahead'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'flaggers', value: 'black' }
  ]

warning_skewed_railroads_crossing:
  category: 'warning'
  name: 'skewed railroads crossing'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'skewed-railroads', value: 'black' }
  ]

warning_trucks_rollover:
  category: 'warning'
  name: 'trucks rollover'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'trucks-rollover', value: 'black' }
  ]

warning_lightground_railroad_crossing:
  category: 'warning'
  name: 'lightground railroad crossing'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'lightground-railroad-crossing', value: 'black' }
  ]

regulatory_national_network_lane:
  category: 'regulatory'
  name: 'national_network_lane'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'green' }
    { type: 'lorry', value: 'black' }
  ]

regulatory_national_network_prohibited:
  category: 'regulatory'
  name: 'national_network_lane'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'lorry', value: 'black' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

warning_motorcycle_crossing:
  category: 'warning'
  name: 'motorcycle crossing'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'motorbike', value: 'black' }
  ]

warning_railroad:
  category: 'warning'
  name: 'railroad'
  elements: [
    { type: 'circle-bg', value: 'yellow' }
    { type: 'circle-bar-rounded', value: 'black', transform: 'rotate(-45deg)' }
    { type: 'circle-bar-rounded', value: 'black', transform: 'rotate(45deg)' }
    { type: 'railroad', value: 'black' }
  ]

regulatory_hazardous_material_prohibited:
  category: 'regulatory'
  name: 'hazardous material prohibited'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'hazardous-material', value: 'black', transform: '{fit_border_circle}' }
    { type: 'circle-o', value: 'red' }
  ]

warning_truck_rollover_with_speed:
  category: 'warning'
  name: 'truck rollover with speed'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'truck-rollover-speed', value: 'black' }
  ]

regulatory_no_rollerblading:
  category: 'regulatory'
  name: 'no rollerblading'
  elements: [
    { type: 'circle-bg', value: 'white' }
    { type: 'circle-o', value: 'red' }
    { type: 'rollerblading', value: 'black', transform: '{fit_border_circle}' }
    { type: 'circle-bar-rounded', value: 'red', transform: 'rotate(-45deg)' }
  ]

warning_triple_2_traverse_curve:
  category: 'warning'
  name: 'triple 2 traverse curve'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 't-2-traverse-curve', value: 'black' }
  ]

warning_double_reverse_curve:
  category: 'warning'
  name: 'double reverse curve'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'single-2-reverse-curve', value: 'black', transform: '{fit_diamond} translate(-9%)' }
    { type: 'single-2-reverse-curve', value: 'black', transform: '{fit_diamond} translate(9%)' }
  ]

warning_triple_2_traverse_curve:
  category: 'warning'
  name: 'triple 2 traverse curve'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'single-2-reverse-curve', value: 'black', transform: '{fit_diamond} translate(-18%)' }
    { type: 'single-2-reverse-curve', value: 'black', transform: '{fit_diamond}' }
    { type: 'single-2-reverse-curve', value: 'black', transform: '{fit_diamond} translate(18%)' }
  ]

warning_single_2_reverse_curve:
  category: 'warning'
  name: 'single 2 reverse curve'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
    { type: 'single-2-reverse-curve', value: 'black' }
  ]

warning_side_road_perpendicular:
  category: 'warning'
  name: 'side road perpendicular'
  elements: [
    { type: 'diamond-bg', value: 'black' }
    { type: 'diamond-bg', value: 'yellow', transform: 'scale(.95)' }
  ]
