<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Traffico, Open Traffic Sign Font">
    <link href="{{ site.baseurl }}/stylesheets/main.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/stylesheets/syntax.css" rel="stylesheet">
    <link href="https://raw.githubusercontent.com/mapillary/traffico-release/master/stylesheets/traffico.css" rel="stylesheet">
  </head>
<body>
  <header>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a class="pure-menu-heading" href="https://mapillary.github.io/traffico">Traffico</a>
      <ul>
        <li><a href="{{ site.baseurl }}/shapes.html">Shapes</a></li>
        <li><a href="{{ site.baseurl }}/examples.html">Examples</a></li>
      </ul>
    </div>
  </header>
