.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.glyph {
  border-bottom: 1px dotted #ccc;
  padding: 10px 0 20px;
  margin-bottom: 20px;
}

.preview-glyphs { vertical-align: bottom; }

.preview-scale {
  color: #888;
  font-size: 12px;
  margin-top: 5px;
}

.step {
  display: inline-block;
  line-height: 1;
  position: relative;
  width: 10%;
}

.step .letters,
.step i {
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.step:hover .letters { opacity: 1; }
.step:hover i { opacity: .3; }

.letters {
  opacity: .3;
  position: absolute;
}

.characters-off .letters { display: none; }
.characters-off .step:hover i { opacity: 1; }


.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }


.usage { margin-top: 10px; }

.usage input {
  font-family: monospace;
  margin-right: 3px;
  padding: 2px 5px;
  text-align: center;
}

.usage .point { width: 150px; }

.usage .class { width: 250px; }

footer {
  color: #888;
  font-size: 12px;
  padding: 20px 0;
}
