.t {
  display: inline-block;
  font: normal normal normal 14px/1 traffico;
  position: relative;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t i {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fit {
  font-size: 75%;
  padding-top: 3%;
}

.t-r-no {
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 3px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.5em;
  font-weight: bold;
}

.t-r-no-yellow {
  background-color: yellow;
  color: black;
  border: 2px solid black;
}

.t-r-no-green {
  background-color: darkgreen;
  color: white;
}

.t-content {
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 39%;
  line-height: 2.75;
  letter-spacing: -1px;
}

.t-content-3 {
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 35%;
  line-height: 3.05;
  letter-spacing: -1px;
}

.t-content-4 {
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 25%;
  line-height: inherit;
  letter-spacing: -1px;
}

.t-stoplights-r {
  color: red;
}

.t-stoplights-y {
  color: yellow;
}

.t-stoplights-g {
  color: green;
}

.t-c-white {
  color: white;
}

.t-c-red {
  color: red;
}

.t-c-blue {
  color: mediumblue;
}

.t-c-black {
  color: black;
}

.t-c-yellow {
  color: yellow;
}

.t-c-grey {
  color: grey;
}

.t-c-green {
  color: darkgreen;
}
