/** Base */
.t {
  display: inline-block;
  font: normal normal normal 14px/1 traffico;
  position: relative;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t i {
  position: absolute;
  left: 0;
  width: 100%;
  height:1em;
  line-height:0;
  text-align: center;
}

/** Content */

.t-content,
.t-content-3,
.t-content-4{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing:0;
  top:48.5%;
}
.t-content {
  font-size: 50%;
}

.t-content-3 {
  font-size: 40%;
}

.t-content-4 {
  font-size: 22.5%;
}

.t-content-5 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15%;
  letter-spacing:0;
  top:50%;
}

/** Colours */

.t-c-white {
  color: white;
}

.t-c-red {
  color: #c1121c;
}

.t-c-orange {
  color: #f60;
}

.t-c-blue {
  color: #154889;
}

.t-c-black {
  color: black;
}

.t-c-yellow-dark {
  color: #f0ca00;
}

.t-c-yellow {
  color: #fecf33;
}

.t-c-grey {
  color: grey;
}

.t-c-green {
  color: #008754;
}

.t-c-fluogreen {
  color: #A2FF31;
}
