.splash-container {
  text-align: center;
  background-color: $color--main;
  padding: 1em;
  color: $color--white;
  min-height: 20em;
  position: relative;
}

.splash {
  top: 5em;
  position: absolute;
  left: 0;
  right: 0;

  &__button {
    margin-top: 2em;
    font-size: 1em;
    background-color: $color--white;

    @media screen and (min-width: 567px) {
      font-size: 1.5em;
    }
  }
}

a.splash__source {
  color: $color--white;
  display: block;
  margin: 1em auto;
}

.content {
  max-width: 960px;
  margin: 0 auto;

  &__lead {
    max-width: 30em;
    font-size: 1.25em;
    color: $color--grey;
    margin: 2em auto;
  }

  &__install {
    color: $color--black;
  }
}

.sample-set {
  font-size: 4em;
  margin: 1em auto;
  max-width: 650px;

  &__more {
    margin: 10px;
    font-size: 16px;
    display: block;
    text-align: right;
  }
}
