a {
  &,
  &:hover,
  &:visited,
  &:active {
    color: $color--main;
    text-decoration: none;
  }
}

p {
  line-height: 1.4em;
}

span.example {
  font-size: 4em;
}

footer {
  text-align: center;
}


.letters {
  display: none;
}
